// Colors
$color-primary: #0a9396;
$color-primary-light: #94d2bd;
$color-primary-dark: #005f73;

$color-secondary-light: #f9c74f;
$color-secondary-dark: #f8961e;

$color-tertiary-light: #dda15e;
$color-tertiary-dark: #bc6c25;

$color-grey-dark: #8a817c;
$color-grey-dark-2: #bcb8b1;
$color-grey-dark-3: #463f3a;

$color-grey-light-1: #e5e4e2;
$color-grey-light-2: #f5f5f5;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;
